<!DOCTYPE html>
<html lang="en">
{{template "head.html"}}
<body>
{{template "capture.html"}}
<div id="vwResults" hidden="hidden" class="flex flex-wrap justify-center place-content-center gap-8 [&[hidden]]:hidden">
    <div class="place-content-center"><hex-viewer id="viewerWram" css-zero="z"></hex-viewer></div>
    <div class="place-content-center"><hex-viewer id="viewerSram" css-zero="z"></hex-viewer></div>
    <div class="place-content-center"><hex-viewer id="viewerHeader" css-zero="z"></hex-viewer></div>
</div>
</body>
</html>
